.appBar { /* stylelint-disable */
  width: 100%;
  padding: 20px;
  background-color: #7CC9EF;
  color: white;
  font-size:24px;
  display: flex;
  justify-content: space-between;
}



.heading{}

.linkContainer{}

.iconButton{}